<div class = "container">
    <div class ="title">
        <span> My Portfolio</span>
    </div>

    
    <div class =" Skill">
        <h2> <span><marquee direction =" left, center" style =" background: blueviolet;" >
            <li>Developed a web app which keeps a record of books at online bookstore.</li>
            <li>Used angular, bootstart, css and HtML on the frontend side.</li>
            <li>Familiar with spring core and Spring boot as the backend.</li>
            <li>Used Postman to check endpoint.</li>
           <li>Familair with AWS and Selenium testing framwork.</li> </marquee>
            
         </span></h2>
       
     </div>
     <div class="name">
        <span>
            <span> Hi,</span> I am 
        </span><br>
        <span> Niroj Karki</span><br>
        <span> Software Developer</span><br>
    </div>

       
      
      

    <div class ="profile">
        <div class ="profile-bg"></div>
        <img src ="https://tse4.mm.bing.net/th?id=OIP.Li73VLylkyodwU2A0geIFwHaEK&pid=Api&P=0&h=180 "
        alt ="">
    </div>
</div>
