/* You can add global styles to this file, and also import other style files */
:root{
     --green: #69F0AE;
     --green-light: #B9F6CA;
     --gray-kight: #BDBDBD;
     --dark-gray: #263238;
     --black: #212121;

}
* {
    margin:0%;
    box-sizing: border-box;
}

body{
    font-family: 'Roborto Condensed', sans-serif;
    font-family: 'Poppins',sans-serif;

}
.container{
    margin: 0 auto;
    max-width: 1500px;
    outline: Opx solid white;
}